<!DOCTYPE html>
<html lang="en">

{% extends "base.html" %}

<head>
    <title>{% block title %} Virtual Daisy Videoclub {% endblock %}</title>
</head>
    
{% block content %}
<script src ="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="static/js/hist.js"></script>

<div class="cont">
    <nav id="menu">
        <ul>
            <div class="y" id="titl">
                <p>Pedidos</p>
            </div>
            <div class="usuario" id="cont">
                {% for item in pedidos %}
                    <li><a href="#">
                        <p>{{item}}</p>
                    </a></li>
                {% endfor %}
            </div>
            
        </ul>
    </nav>
</div>

{% endblock %}

</html>